.my-index-link{
    display: flex;
    justify-content: center;
}

.my-margin-right-30{
    margin-right: 30px;
}

@media (max-width: 767px) {
    .coach-row{
        flex-direction: column;
    }
}

.max-height-220{
    max-height: 220px;
}

.blog-item-img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
}